<div class="DCMA">
    <h1>DCMA Privicy policy</h1>
    DMCA policy This Digital Millennium Copyright Act policy ("Policy") applies to the andrewharroplab5se3316a.com website ("Website" or "Service") and any of its related products and services (collectively, "Services") and outlines how this Website operator
    ("Operator", "we", "us" or "our") addresses copyright infringement notifications and how you ("you" or "your") may submit a copyright infringement complaint.
    <br class="b">
    <div class="b"></div> Protection of intellectual property is of utmost importance to us and we ask our users and their authorized agents to do the same. It is our policy to expeditiously respond to clear notifications of alleged copyright infringement that comply
    with the United States Digital Millennium Copyright Act ("DMCA") of 1998, the text of which can be found at the U.S. Copyright Office website.
    <br class="b">
    <div class="b"></div> What to consider before submitting a copyright complaint Before submitting a copyright complaint to us, consider whether the use could be considered fair use. Fair use states that brief excerpts of copyrighted material may, under certain circumstances,
    be quoted verbatim for purposes such as criticism, news reporting, teaching, and research, without the need for permission from or payment to the copyright holder. If you have considered fair use, and you still wish to continue with a copyright complaint,
    you may want to first reach out to the user in question to see if you can resolve the matter directly with the user.
    <br class="b">
    <div class="b"></div> Please note that if you are unsure whether the material you are reporting is in fact infringing, you may wish to contact an attorney before filing a notification with us.
    <br class="b">
    <div class="b"></div> We may, at our discretion or as required by law, share a copy of your notification or counter-notification with the account holder engaged in the allegedly infringing activity or for publication. If you are concerned about your information
    being forwarded, you may wish to hire an agent to report infringing material for you.
    <br class="b">
    <div class="b"></div> Notifications of infringement If you are a copyright owner or an agent thereof, and you believe that any material available on our Services infringes your copyrights, then you may submit a written copyright infringement notification ("Notification")
    using the contact details below pursuant to the DMCA. All such Notifications must comply with the DMCA requirements. You may refer to a DMCA takedown notice generator or other similar services to avoid making mistake and ensure compliance of your
    Notification.
    <br class="b">
    <div class="b"></div> Filing a DMCA complaint is the start of a pre-defined legal process. Your complaint will be reviewed for accuracy, validity, and completeness. If your complaint has satisfied these requirements, our response may include the removal or restriction
    of access to allegedly infringing material.
    <br class="b">
    <div class="b"></div> If we remove or restrict access to materials or terminate an account in response to a Notification of alleged infringement, we will make a good faith effort to contact the affected user with information concerning the removal or restriction
    of access, which may include a full copy of your Notification (including your name, address, phone, and email address), along with instructions for filing a counter-notification.
    <br class="b">
    <div class="b"></div> Notwithstanding anything to the contrary contained in any portion of this Policy, the Operator reserves the right to take no action upon receipt of a DMCA copyright infringement notification if it fails to comply with all the requirements of
    the DMCA for such notifications.
    <br class="b">
    <div class="b"></div> Counter-notifications A user who receives a copyright infringement Notification may make a counter-Notification pursuant to sections 512(g)(2) and (3) of the US Copyright Act. If you receive a copyright infringement Notification, it means that
    the material described in the Notification has been removed from our Services or access to the material has been restricted. Please take the time to read through the Notification, which includes information on the Notification we received. To file
    a counter-notification with us, you must provide a written communication compliant with the DMCA requirements.
    <br class="b">
    <div class="b"></div> Please note that if you are not sure whether certain material infringes the copyrights of others or that the material or activity was removed or restricted by mistake or misidentification, you may wish to contact an attorney before filing a
    counter-notification.
    <br> Notwithstanding anything to the contrary contained in any portion of this Policy, the Operator reserves the right to take no action upon receipt of a counter-notification. If we receive a counter-notification that complies with the terms of 17
    U.S.C. § 512(g), we may forward it to the person who filed the original Notification. The process described in this Policy does not limit our ability to pursue any other remedies we may have to address suspected infringement.
    <br class="b">
    <div class="b"></div> Changes and amendments We reserve the right to modify this Policy or its terms relating to the Website and Services at any time, effective upon posting of an updated version of this Policy on the Website. When we do, we will revise the updated
    date at the bottom of this page. Policy was created with WebsitePolicies.
    <br class="b">
    <div class="b"></div> Reporting copyright infringement If you would like to notify us of the infringing material or activity, you may send an email to aharrop@uwo.ca
    <br class="b">
    <div class="b"></div> This document was last updated on December 3, 2020
    <br class="b">
    <div class="b"></div> A note on the data collection this website carries out:
    <br> User data is stored for four purposes. The first is so we can apply proper authentication methods. For this we store a username, an email and a hashed password that we can match with inputted passwrods that pass through the same hashing algorithim.
    The second reason is for accountability. We store your email for this reason, and a Name so that in the event that you conduct illigal activities, you can be held accountable, and contacted. The third reason is so that administrators can contact you
    about any issues regarding your account, so for this reason we store your email. The final resaon if a logistical reason, to allow us to link schedule(s) and other entities you create to be associated with your accout. For this we store your email.
    and username.
</div>