<div class="register-container">
    <p>User registration</p>
    <div class="register-panel">
        <a><input type="text" [(ngModel)]="name" placeholder="Name" /></a><br>
        <a><input type="text" [(ngModel)]="username" placeholder="Username" /></a><br>
        <a><input type="text" [(ngModel)]="email" placeholder="Email" /></a><br>
        <a><input type="password" [(ngModel)]="password" placeholder="Password" /></a><br>
        <a><input type="password" [(ngModel)]="password2" placeholder="Enter Password Again" /></a><br>
        <button (click)="submitRegistarion()">Submit</button></div>

    <div [innerHTML]="serverData"></div>
</div>